.content {
  width: 80%;
  margin: auto;
}

.content ul {
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%;
  text-align: center;
}

.content li {
  display: inline-block;
  margin: 20px;
}

.content a {
  text-decoration: none;
  color: black;
}

.content a:hover,
.content a:active,
.content a.active {
  color: orange;
}
